h1 {
    text-align: center;
}

#imagelayout{
    display: flex;
    /* flex-flow: row wrap; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

#imagediv{
    width: 30%;
    border: 2px solid black;
    padding: 5px;
}

#singleimages{
    width: 100%;
}

#imagetext {
    text-align: center;
    display: block;
    margin: 0 auto;
}
